.projectDescription {
  margin: 20px;
  .description_title {
    @include text-mini-black($p900);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .description {
    @include text-general($p900);
  }
}