.DS_Store
/packages/app/dist
yarn-error.log
npm-debug.log
lerna-debug.log
node_modules
/coverage
/typings
/packages/app/webpack/webpack-assets.json


/packages/**/*.js
/packages/**/*.js.map
!/packages/app/webpack/*.js
!/packages/app/index.js
!/packages/test-helpers/*.js
!/packages/test-helpers/**/*.js

.idea/*
