.membersBig {
    padding-bottom: 40px;
    margin-top: 10px;
    .membersBig_list {
      box-shadow: 0 2px 3px 1px rgba(0,0,0,.1);
      border-radius: 2px;
      background: white;
      margin-bottom: 10px;
      padding-bottom: 20px;
      .list_type {
        height: 30px;
        @include text-mini-black($p900);
        text-transform: uppercase;
        line-height: 30px;
        padding-left: 10px;
        border-bottom: $separator;
      }
    }
    .membersBig_title {
        @include text-mini-black($p900);
        text-transform: uppercase;
        padding-left: 20px;
        border-bottom: 1px solid rgba(0,0,0, .1);
        height: 40px;
        line-height: 40px;
    }
    .list_member {
        text-align: center;
        margin-top: 40px;
        .member_photo {
            background: url('./images/placeholder.png');
            background-size: cover;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            border: 1px solid white;
            background-position: center center;
            margin: 0 auto;
            display: block;
            img {
                width: 60px;
                height: 60px;
                border-radius: 100%;
            }
        }
        .member_name {
            text-align: center;
            margin-top: 10px;
            font-size: 13px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 1px;
            @include truncate;
        }
        h5 {
          background: #f4f5f7;
          font-size: 10px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 1px;
          color: #888e94;
          border-radius: 2px;
          padding: 0 5px;
          margin-top: 5px;
          display: inline-block;
          text-align: center;
          border: 1px solid #e1e2e4;

        }
    }
}
