.membersBig {
    padding-bottom: 40px;
    margin-top: 10px;
    .membersBig_list {
      padding-bottom: 20px;
      margin-top: 30px;
      .list_type {
        height: 30px;
        @include text-mini-black($p900);
        text-transform: uppercase;
        line-height: 30px;
        padding-left: 10px;
      }
    }
    .membersBig_title {
        @include text-mini-black($p900);
        text-transform: uppercase;
        padding-left: 20px;
        height: 40px;
        line-height: 40px;
    }
    .list_member {
        text-align: center;
        margin-top: 40px;
        .member_photo {
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 4px;
            border: 1px solid white;
            background-position: center center;
            margin: 0 auto;
            display: block;
            img {
                width: 50px;
                height: 50px;
                border-radius: 4px;
            }
        }
        .member_name {
            text-align: center;
            margin-top: 10px;
            font-size: 13px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 1px;
            @include truncate;
        }
        h5 {
          background: #f4f5f7;
          font-size: 10px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 1px;
          color: #888e94;
          border-radius: 2px;
          margin-top: 5px;
          display: inline-block;
          text-align: center;

        }
    }
}
