.link {
  margin-left: 0.8em;

  &, &:visited, &:active, &:hover {
    color: var(--link-color-inactive);
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }

  & svg {
    vertical-align: middle;
    margin-right: 0.3em;
  }

  & path {
    fill: var(--link-color-inactive);
  }
}

.linkActive {
  &, &:visited, &:active, &:hover {
    color: var(--color-inverse);
  }
  & path {
    fill: var(--color-inverse);
  }
}
