.aside {
  margin-top: 20px;
  .aside_list {
    list-style: none;
    padding: 0;
    margin: 0;
    .list_title {
      @include text-label($p900);
      margin-bottom: 20px;
    }
    .list_item {
      height: 30px;
      border: 1px dashed #D8D8D8;
      border-radius: 2px;
      margin-bottom: 10px;
      position: relative;
      padding: 2px 3px;
      @include clearfix;
      cursor: pointer;
      &.active {
       background: $accent-500;
       border: none;
       color: white;
        h4 {
          @include text-label(white);
        }
      }
      a {
        justify-content: flex-start;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      .link_image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        float: left;
        background: white;
        margin-left: 3px;
        img {
          width: 24px;
          border: 1px solid white;
          height: 24px;
          border-radius: 2px;
        }
      }
        h4 {
          @include text-label(#929292);
          font-size: 13px;
          float: left;
          font-weight: 600;
          margin-left: 10px;
          @include truncate;
          margin-right: 5px;
        }
    }
  }
}
