.overview {
    // height: 120px;
    box-shadow: 0 2px 0 1px rgba(0,0,0,.1);
    margin: 40px 40px 10px 40px;
    border-radius: 2px;
    background: white;
    padding-bottom: 40px;
    .overview_title {
        @include text-mini-black($p900);
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0,0,0,.1);
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
    }
    .medium-3 {
        &:last-of-type {
        .overview_item {
            position: static;
        }
     }
    }
    .overview_item {
        position: relative;
        &:after {
            position: absolute;
            content: "";
            right: 0;
            width: 1px;
            top: 10px;
            bottom: 10px;
            background: #E9E9E9;
            display: block;
        }
        .item_qty {
            font-size: 54px;
            letter-spacing: 5px;
            line-height: 50px;
            font-weight: 100;
            color: $p100;
            text-align: center;
            margin-top: 20px;
        }
        .item_title {
            margin-top: 10px;
            @include text-general-black($p100);
            text-align: center;
        }
    }
}