// Primary Header
.main_header {
  position: fixed;
  top: 0;
  z-index: 99999999999;
  height: 50px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: $separator;
  background-color: #26547c;
  /* height: 60px; */
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  .header_logo {
    width: 21px;
    height: 30px;
    float: left;
    margin-top: 10px;
    background: url(./images/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header_search {
    float: left;
      margin-left: 30px;
      margin-top: 10px;
      input {
        background: rgba(255, 255, 255, .12);
        border-radius: 2px;
        border: $separator;
        height: 30px;
        width: 280px;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          @include text-mini(white);
          padding-left: 10px;
          letter-spacing: 1px;
          line-height: 30px;
          font-size: 12px;

        }
        &::-moz-placeholder { /* Firefox 19+ */
          @include text-mini(white);
          padding-left: 10px;
          letter-spacing: 1px;
          line-height: 30px;
          font-size: 12px;

        }
        &:-ms-input-placeholder { /* IE 10+ */
          @include text-mini(white);
          padding-left: 10px;
          letter-spacing: 1px;
          line-height: 30px;
          font-size: 12px;

        }
        &:-moz-placeholder { /* Firefox 18- */
          @include text-mini(white);
          padding-left: 10px;
          letter-spacing: 1px;
          line-height: 30px;
          font-size: 12px;

        }
      }
  }

  .header_menu {
    @include clearfix;
    margin-left: 20px;
    float: right;
    margin-top: 0px;
    .menu_profile {
      display: inline-block;
      @include clearfix;
      h4 {
        @include text-general-black(white);
        float: left;
        line-height: 40px;
        font-size: 13px;
        letter-spacing: 1px;
        margin-right: 20px;
        height: 50px;
        line-height: 50px;
      }
      .profile_image {
        background: url('./images/prof.jpg');
        background-size: cover;
        height: 25px;
        width: 25px;
        margin-right: 10px;
        margin-left: 20px;
        border-radius: 100%;
        float: left;
        background-position: center center;
        margin-top: 14px;
      }
      .icon-dots-three-horizontal {
        line-height: 50px;
        float: right;
      }
    }
  }
}

