// Primary Header
.main_header {
  position: relative;
  color: $p100;
  .header_mobile {
    display: none;
  }

  .header_projects {
    float: left;
    margin-top: 30px;
    position: relative;
    .projects_button {
      cursor: pointer;
      }
      .button_icon {
        background: #ececec;
        width: 30px;
        height: 30px;
        text-align: center;
        display: inline-block;
        /* line-height: 43px; */
        border-radius: 3px;
        vertical-align: middle;
        svg {
          width: 18px;
          margin-top: 3px;
        }
      }
      o {
        margin-left: 10px;
        @include text-label($p100);
        line-height: 30px;
        a {
          @include text-label($p100);
        }
      }
  }

  .header_menu {
    @include clearfix;
    margin-left: 20px;
    float: right;
    margin-top: 30px;
    height: 30px;
    .menu_bell {
      float: left;
      height: 30px;
      padding-top: 5px;
      line-height: 30px;
      svg {
        height: 18px;
      }
    }
    .menu_profile {
      display: inline-block;
      @include clearfix;
      h4 {
        @include text-label($p100);
        float: left;
        line-height: 30px;
        font-size: 13px;
        letter-spacing: 1px;
        margin-right: 20px;
        height: 30px;
        line-height: 30px;
      }
      .profile_image {
        background-size: cover;
        height: 25px;
        width: 25px;
        height: 30px;
        line-height: 30px;
        margin-right: 10px;
        margin-left: 20px;
        border-radius: 2px;
        float: left;
        background-position: center center;
        img {
          height: 25px;
          width: 25px;
          border-radius: 2px;
        }
      }
      .profile_other {
        float: right;
      }
    }
  }
}

/* Portrait and Landscape */
@media (max-width: 480px) {
    .main_header {
      height: 105px;
      position: relative;
      .header_link {
        display: none;
      }
      .header_logo {
        display: none;
      }
      .header_search {
        margin-left: 0;
        float: none;
        input {
          width: 100%;
          height: 40px;
        }
        .search_icon {
          top: 8px;
        }
      }
      .header_menu {
        display: none;
      }
      .header_mobile {
        margin-top: 10px;
        position: absolute;
        bottom: 15px;
        left: 20px;
        display: block;
        .mobile_list {
          list-style: none;
          padding: 0;
          margin: 0;
          @include clearfix;
          li {
            float: left;
            margin-right: 25px;
            @include text-general(rgba(255,255,255,.7));
            position: relative;
            &.active {
              &:before {
                position: absolute;
                content: '';
                height: 3px;
                left: 0;
                width: 100%;
                background: white;
                bottom: -15px;
                display: block;
              }
            }
          }
        }
      }
    }
}
