@import "../../base.css";

a.white {
  &, &:visited, &:active, &:hover {
    opacity: 0.8;
    color: var(--color-inverse);
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}
a.active {
  opacity: 1;
}
