@import "../../base.css";

:root {
  --link-color-inactive: #DCC3E2;
}

.white {
  &, &:visited, &:active, &:hover {
    opacity: 1;
    color: var(--link-color-inactive);
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }

  & path {
    fill: var(--link-color-inactive);
  }
}
.active {
  &, &:visited, &:active, &:hover {
    color: var(--color-inverse);
  }
  & path {
    fill: var(--color-inverse);
  }
}
