// @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');
// @import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700');
// Color
$p900: #13293D;
$p700: #747272;
$p500: #F6F6F6;
$p300: #EFF4F5;
$p200: #E7E9EA;
$p100: #2C302E;
$accent-700: #dba317;
$accent-500: #26547C;
$green: #75E2AD;
$red: #b32e40;
$blue: #55b8ec;
$gray: #C2C7CC;

// Typography
$lato: 'Fira Sans', sans-serif;
$sans: $lato;

// Font Size
$xs-font-size: 11px;
$s-font-size: 12px;
$m-font-size: 14px;
$l-font-size: 16px;
$xl-font-size: 32px;

// Line Height
$m-line-height: 20px;
$l-line-height: 30px;

// Font Weight
$s-font-weight: 400;
$m-font-weight: 500;
$xm-font-weight: 600;
$l-font-weight: 700;

// Letter Spacing
$s-letter-spacing: 1px;
$m-letter-spacing: 2px;

// z-index
$z1: 100;
$z2: 200;
$z3: 300;
$z4: 400;
$z5: 500;
$zmedium: 10000;
$zmax: 10000000;

// Dimension
$distance: 10px;

// Components
$separator: 1px solid rgba(0,0,0, .1);
