.link {
  align-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;

  color: var(--link-color);

  &:hover,
  &:active {
    color: var(--link-color-active);
  }
}

.linkActive {
  color: var(--link-color-active);
}
